body{
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}
/* NAV BAR CSS */

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}
nav > a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}
nav ul {

    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}
nav ul li {
    text-align: center;
    width: 100%;
}
nav ul li a{
    display: inline-block; 
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}
#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
#etec{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
/*FOTOS*/

#pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}
#pic h2{
    margin-bottom: 20px;
}
#pic img{
    width: 100%;
}

/*CONTACT*/

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contact h2{
    color: #000000;
}

/*SCHEDULE*/

#schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #FFFFFF;

}
#schedule h2{
    color: #FFFFFF;
}
#schedule p{

    margin-bottom: 2.5em;
    max-width: 1000px;
}
#schedule .botao{
    background-color: #f1f1f1;
    color: #1c1c1c;
}

/*TEACHERS */

#teachers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}
#teachers div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;

}

/*SUBJECTS*/

#subjects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}
#subjects div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;

}
/*REMAINDER*/

/*FOOTER*/

footer{
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
    background-color: #191970;
}
footer a{
    text-decoration: none;
    color: #00FFFF;
}
 /*
 p.a{
    text-align: justify;
}

td.a{

    background:rgb(187, 255, 153);
}
td.b{
    
    background: yellow;
}
td.c{
    background:rgb(255, 128, 255);
}
td.d{
    background: rgb(102, 255, 255);
}
td.e{
    background: orange;
}
td.f{
    background: red;
}
td.g{
    background: rgb(0, 204, 102);
}
td.h{
    background: rgb(0, 179, 179);

}
td.i{
    background: rgb(51, 133, 255);
}
td.j{
    background: rgb(120, 255, 31);
}
td.k{
    background: rgb(230, 115, 0);
}
td.l{
    background: rgb(255, 0, 170);
}
td.m{
    background: rgb(255, 112, 77);
}
td.n{
    background: rgb(204, 102, 255);
}
td.o{
    background: rgb(217, 179, 255);
}
td.p{
    background: rgb(179, 179, 0);
}
td.z{
    color:black;
}
tr.z{
    background: gray;
}*/
/*FINISH TABLE*/

/*MEDIA QUERY*/
@media screen and (min-width: 768px){
    /*nav*/

    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul{
        flex-direction: row;
        width:70%;
    }
    /*cabeçalho */
    header{
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    #schedule{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    #teachers{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    #teachers h2{
        text-align: center;
        width: 100%;
    }

    #teachers div{
        flex-grow: 1;
        flex-basis:150px;
        padding: 0 10px;
    }

    #pic{
        flex-direction: row;
        flex-wrap: wrap;
    }

    #pic h2{
        width: 100%;
        text-align: 100%;
    }

    #pic img{
        width: 33.333333333;
    }

    #contact{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contact h2, #contact p{
        width: 100%;
    }
}  